body {
    background-color: aqua;
}

.container {
    background-color: bisque;
    height: 400px;
    border: 2px solid red;
    width: 700px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between; /* This ensures spacing between boxes */
    align-items: center; 
}

#child1, #child2, #child3, #child4 {
    background-color: rgb(226, 43, 128);
    height: 100px;
    width: 100px;
    border: 2px dotted red;
    display: flex; 
    justify-content: center; 
    color: white;
}

#child1 {
    background-color: aquamarine;
}

#child2 {
    background-color: blueviolet;
}

#child3 {
    background-color: chocolate;
}

#child4 {
    background-color: coral;
}
